{% extends 'base.html.twig' %}

{% block title %}Accueil - myPokedex{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="title">
        <h1>myPokedex</h1>
    </div>
    <div class="home-button">
        <a href="{{path('app_login')}}" class="btn btn-primary">Se connecter</a>
        <a href="{{path('pokemon_main')}}" class="btn btn-primary">Pokemon</a>
    </div>
    <div class="link">
        <a href="{{path('app_register')}}">Pas encore inscrit ?</a>
    </div>
</div>
{% endblock %}
