<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">myPokedex</a>
    <ul class="navbar-nav mr-auto">
    <li class="nav-item {% if app.request.attributes.get('_route') == 'pokemon_main' %}active{% endif %}">
        <a class="nav-link" href="">Pokemon</a>
    </li>
    <li class="nav-item {% if app.request.attributes.get('_route') == 'type_main' %}active{% endif %}">
        <a class="nav-link" href="">Type</a>
    </li>
    <li class="nav-item {% if app.request.attributes.get('_route') == 'account_main' %}active{% endif %}">
        <a class="nav-link" href="">Mon compte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Se déconnecter</a>
    </li>
    <li class="nav-item">
    </li>
</nav>