.dropdown {
    margin: 10px 0px 5px 115px;
}

.top-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-container span {
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.card {
    margin: 10px 0px 10px 10px;
}

.card-body {
    margin: auto;
    display: flex;
    align-items: center;
}

.img {
    width: 120px;
    margin: auto;
    padding-top: 5px;
}

.add-button {
    margin-left: 5px;
}

a, a:hover {
    text-decoration: none;
}

.pagination {
    margin: auto;
}

.container-header {
    display: flex;
    flex-direction: column;
}

.btn-modify, .btn-add {
    width: 215px;
    margin: 5px;
}

.no-pokemon {
    margin-top: 45px;
}