.img {
    width: 250px;
    margin: auto;
    padding-top: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.card {
    margin: 10px 0px 10px 10px;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    margin-left: 5px;
}

a, a:hover {
    text-decoration: none;
}