{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/type_main.css') }}">
{% endblock %}

{% block title %}Type - myPokedex{% endblock %}

{% block body %}

<div class="container">
{% for type in types %}
    <a href="{{path('type_single', {'id': type.id })}}" class="badge badge-primary badge-type" style="background-color:#{{type.color}}">{{type.name}}</a>
{% endfor %}
</div>

{% endblock %}
